#title{
    color: white;
    background-color: #c81912;
    font-family: "Montserrat",sans-serif;
}

h1{
     font-family: "montserrat-black",sans-serif;
     font-weight:700;
    font-size: 4rem;
    line-height: 1.5;
}


  
h3{
font-family: "montserrat-bold";
font-weight: 600;
font-size: 1.9em;
}
.container-fluid{
    padding: 5% 15%;
}  

.navbar{
    padding: 0 0 4.5rem;
}


.navbar-brand{
    font-family: "ubuntu";
    font-size: 3rem;
    font-weight: bold;

}

.nav-item{
    font-size: 1.8rem;
font-family: "montserrat",sans-serif;
    padding: 0px 20px;
}


.button{
    margin: 5% 3% 5% 0%;
    font-family: "ubuntu";
    font-size: 1.3em;
}


.img{
    position: absolute;
    width: 60%;
     transform: rotate(30deg);
    right: 30%;
    top: 10%;
}



@media (max-width: 1028px){
    .img{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
    h1{
        font-size: 3rem;
    }
}








#features{
    padding: 7% 15%;
    position: relative;
    background-color: white;
}
.col2{
    text-align: center;
    padding: 5%;
}
.icon{
    padding:0 0 5% 0;
    color: #f76a8c;
}

.icon:hover{
    color:#e32249;
}

#testimonials{
    background-color: #c81912;
    text-align: center;
    
    color: white;
}

#press{
    background-color: #c81912;
    text-align: center;
}

.icon-logo{
    width: 15%;
    margin: 5% 3%;
}

.lady{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}



.carousel-item{
    padding: 7% 15%;
}

#pricing{
    color: black;
    text-align: center;
    padding: 0 2%;
}

.h2{
    font-size: 3.5rem;
    font-family: "monserrat",sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

.column{
    padding: 3% 2%;
}

p{
    font-size: 1.2rem;
    font-family: "montserrat",sans-serif;
}


#cta{
    background-color: #c81912;
    text-align: center;
    padding: 4% 20%;
}

.h3{
    font-family: "monserrat",sans-serif;
    font-size: 2.6rem;
    font-weight: 900;
    color: white;
}

.download{
    margin: 5% 7%;
    border-radius: 10px;
}


#footer{
    text-align: center;
    padding: 4% 17%;
    padding: 1% 10%;
}
.foot-icon{
 margin: 3% 1%;
}

